*{
   opacity: 1; 
  -webkit-backface-visibility: hidden; 
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
  background: #fffae7;
  background: -webkit-gradient(linear,0% 0%, 0% 100%, from(#F5EAC3), to(#F9F7EB), color-stop(0.5,#FFFAE7))
}

h1,h2,h3,h4{
  margin: 20px 0;
}

body .page{
  display: inline-block;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  color: #82786f;
  position: relative;
}

#raindrop{
  width: 100%;
  height: 100px;
  position: fixed !important;
  bottom:0;
  z-index: 10;
}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}
body:not(.iOS) #lines * {
  mix-blend-mode: lighten;
}

.landing{
  margin-top: 120px;
}

#logo {
  width: 70%;
  margin: 0 auto;
  display: block;
  overflow: visible;
  max-width: 375px
}

#fills * {
  opacity: 0;
}
#suggest{
  width: 60%;
}
#suggest *{
  opacity: 0;
}
#seventeen *{
  opacity: 0;
}
#beauty *{
  opacity: 0;
}
#start *{
  opacity: 0;
}
#start{
  position: relative;
  z-index: 9999
}
.fireworks{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1
}